/vendor/
/web/sites/default/files/
/web/sites/default/private/
/web/sites/simpletest
/.ddev/
/dump.sql.gz
/files.tgz
.DS_Store
.idea
vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/sites/default/files/
/.ddev/
/node_modules/
/.DS_Store
*.log